.h-wrapper{
    background-color: var(--primary-color);
    height: 120vh;
    overflow: hidden;
}

.h-wrapper .container{
    padding-top: 8rem;
}

.h-container{
    display: flex;
    height: 80vh;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.h-left{
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    padding-top: 5rem;
}



.h-right{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.h-title{
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    font-weight: 300;
    color: var(--third-color);
}

.h-title > :nth-child(3){
    color: #fff;
}

.h-des{
    color: #fff;
    font-size: 1rem;
    line-height: 1.25rem;
}