.wwd-wrapper {
  position: relative;
}

.wwd-container {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.wwd-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 55%;
}
      

.wwd-blocks {
  display: flex;
  gap: 2rem;
  width: 100%;
}

.wwd-block{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    text-align: center;
    border-radius: 2rem;
    box-shadow: var(--shadow);
}